{% extends 'base.html' %}

{% block header %}
	Todo list
{% endblock header %}

{% block content %}
	<div>
		<a href="{% url 'create' %}">Todoを追加する</a>
	</div>
	{# object_listで、指定のモデル(ここではTodoモデル)の一覧を操作できる #}
	{% for todo in object_list %}
	<div>
		<div class='todo-list-head'>
			<h2>{{todo.title}}</h2>
			{# Dateオブジェクト | date:<フォーマット文字列> で日付の形式を変更できる #}
			{# date : "..." のように、スペースが空いているとエラーになる #}
			<span>締切日: {{ todo.duedate | date:"o/n/j"}}</span>
			<span class='badge priority-{{todo.priority}}'>{{todo.priority}}</span>
		</div>
		{# 個別のデータを取得できるように、todo.idを指定する #}
		<p>
			<a class='btn blue' href="{% url 'detail' todo.pk %}">詳細</a>
			<a class='btn green' href="{% url 'update' todo.pk %}">編集</a>
			<a class='btn red' href="{% url 'delete' todo.pk %}">削除</a>
		</p>
		<hr />
	</div>
	{% endfor %}
{% endblock content %}
