.btn {
  background-color: lightgray;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: 700;
}

.btn.blue {
  background-color: deepskyblue;
  color: aliceblue;
}

.btn.red {
  background-color: crimson;
  color: mistyrose;
}

.btn.green {
  background-color: seagreen;
  color: #fdfffd;
}

.todo-list-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
}
.todo-list-head h2 {
  margin: 0;
}

.badge {
  background-color: lightgray;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 12px;
}

.priority-high {
  background-color: pink;
}
.priority-normal {
  background-color: khaki;
}
.priority-low {
  background-color: lightblue;
}
