{% extends 'base.html' %}

{% block header %}
	<h1>Our campany board</h1>
	<div>
		<a href="{% url 'sign-out' %}">サインアウトする</a>
	</div>
{% endblock header %}

{% block content %}
	<a href="{% url 'create_post' %}">投稿を追加する</a>
	{% if error %}
		<div>
			{{ error }}
		</div>
	{% endif %}

	{% for post in posts %}
		<div>
			<h2>
				<a href="{% url 'show_post' post.pk %}">
					{{post.title}}
				</a>
			</h2>
			<div>{{post.message}}</div>
			<p>投稿者: {{post.user}}</p>
			<div>
				<form action="{% url 'increase_like' post.pk %}" method="POST">
					<button type="submit">{{post.like}} いいね</button>
					{% csrf_token %}
				</form>
				
				<form action="{% url 'mark_read' post.pk %}" method="POST">
					<button type="submit">{{post.read}} 既読</button>
					{% csrf_token %}
				</form>
			</div>
		</div>
	{% endfor %}
{% endblock content %}
